body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #e8e8e8;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 340px;
    padding: 50px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.Logo {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 150px;
    height: auto;
    object-fit: contain;
    padding: 10px;
    margin-right: 50%;
}

form h5 {
    font-size: 23px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.input {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.input___group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.input___group input {
    padding: 10px 12px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #d0d5dd;
    font-size: 16px;
    width: 100%;
}

.input___group input::placeholder {
    font-size: 16px;
    letter-spacing: 0.5px;
    opacity: 0.6;
}

button {
    width: 100%;
    background: blueviolet;
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: rgb(88, 5, 166);
}

.heading p {
    font-size: 14px;
    font-style: italic;
    text-align: center;
    margin: 10px 10% 10%;
}

p {
    font-size: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 8px auto;
}

p > a:hover {
    text-decoration: underline;
}
